{% extends 'base.html.twig' %}

{% block title %}Edit Country{% endblock %}

{% block body %}
{#    <h1>Edit Country</h1>#}

    {{ include('admin/location/country/_form.html.twig', {'button_label': 'Update'}) }}

{#    <a href="{{ path('app_admin_location_country_index') }}">back to list</a>#}

    {{ include('admin/location/country/_delete_form.html.twig') }}
{% endblock %}
