{% extends 'base.html.twig' %}

{% block title %}New Country{% endblock %}

{% block body %}
    <h6>Create new Country</h6>
    {{ include('admin/location/country/_form.html.twig') }}
{% endblock %}
