{% extends 'base.html.twig' %}

{% block title %}Edit Continent{% endblock %}

{% block body %}


    {{ include('admin/location/continent/_form.html.twig', {'button_label': 'Update'}) }}

{#    <a href="{{ path('app_admin_location_continent_index') }}">back to list</a>#}

    {{ include('admin/location/continent/_delete_form.html.twig') }}
{% endblock %}
