<div>
    <button
            class="btn btn-success btn-sm"
            data-action="modal-form#openModal"
            data-form-url-value="{{ path('app_admin_location_continent_new' ) }}"
            data-url-value="{{ path('app_admin_location_continent_index', { ajax: 1 } ) }}"
            data-node-dest-id-value="myOneCustomContent"
            data-modal-title-value="New Continent"
            data-refresh-key-value="refresh-html"
    >
        <i class="bi bi-plus-lg">&nbsp;</i>New
    </button>
    <div>
        <table class="table align-middle mb-0 bg-white shadow-lg " data-search="true"
               data-toggle="table" data-pagination="true" data-page-size="10"
               data-show-pagination-switch="true" data-show-columns="true">
            <thead class="bg-secondary text-white">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody data-reload-content-target="myOneCustomContent">
            {{ include('admin/location/continent/_list.html.twig') }}
            </tbody>
        </table>
    </div>


</div>










