{% extends 'base.html.twig' %}

{% block title %}New Continent{% endblock %}

{% block body %}
    <h1>Create new Continent</h1>

    {{ include('admin/location/continent/_form.html.twig') }}

    <a href="{{ path('app_admin_location_continent_index') }}">back to list</a>
{% endblock %}
