{#{% extends 'base.html.twig' %}#}

{#{% block title %}Edit Currency{% endblock %}#}

{#{% block body %}#}
{#    <h1>Edit Currency</h1>#}

    {{ include('admin/currency/currency/_form.html.twig', {'button_label': 'Update'}) }}

{#    <a href="{{ path('app_admin_currency_currency_index') }}">back to list</a>#}

{#    {{ include('admin/currency/currency/_delete_form.html.twig') }}#}
{#{% endblock %}#}
