
{% extends 'admin/base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
    <h1 class="text-start fs-2 bold my-2 mb-3">Offers List</h1>
        <br>

    <div class="text-start m-lg-4">
        <a class="btn btn-success" href="{{path('app_offer_new')}}">Créer nouveau</a>
    </div>
    <div>

        <table class="table align-middle mb-0 bg-white shadow-lg " data-search= "true"
               data-toggle="table"  data-pagination="true" data-page-size="10"
               data-show-pagination-switch="true" data-show-columns="true" >
            <thead class="bg-secondary text-white">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Number of Product Types</th>
                <th>Number of Days</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody data-reload-content-target="myOneCustomContent">
            {{ include('offer/_liste.html.twig') }}
            </tbody>
        </table>
    </div>


{% endblock %}
