{% extends 'admin/base_admin.html.twig' %}

{% block title %}Offers list {% endblock %}

{% block container %}

    <div>
        <a href="{{ path('app_offer_new') }}" class="btn btn-sm btn-success"
           >
            <i class="bi bi-plus-lg">&nbsp;</i>New
        </a>
        <div>

            <table class="table align-middle mb-0 bg-white shadow-lg " data-search="true"
                   data-toggle="table" data-pagination="true" data-page-size="10"
                   data-show-pagination-switch="true" data-show-columns="true">
                <thead class="bg-secondary text-white">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Number of Product Types</th>
                    <th>Number of Days</th>
                    <th>Nb Sellers</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody data-reload-content-target="myOneCustomContent">
                {{ include('offer/_list.html.twig') }}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}



