

{% extends 'admin/base_admin.html.twig' %}

{% block title %}Create new Traveler{% endblock %}

{% block container %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        {{ include('traveler/_form.html.twig') }}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_traveler_index') }}" class="btn btn-secondary"> <i class="fas fa-arrow-left"></i> Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
