{% extends 'admin/base_admin.html.twig' %}

{% block title %}Market Subscription Requests{% endblock %}

{% block pagetitle %}Market Subscription Requests{% endblock %}

{% block container %}
    {% set modalType='show' %}
    <div>
        <div>
            <table data-toggle="table" data-search="true" data-show-columns="true" data-page-size="10"
                   data-buttons-class="md btn-soft-primary" data-pagination="true"
                   data-show-pagination-switch="true" class="table-bordered">
                <thead class="table-primary">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Website</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>actions</th>
                    <th>API</th>
                </tr>
                </thead>
                <tbody data-reload-content-target="myOneCustomContent">
                {{ include('market_subscription_request/_list.html.twig') }}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
