{% extends 'base.html.twig' %}

{% block title %}Edit ApiProduct{% endblock %}

{% block body %}
    <h1>Edit ApiProduct</h1>

    {{ include('api_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_api_product_index') }}">back to list</a>

    {{ include('api_product/_delete_form.html.twig') }}
{% endblock %}
