{% extends 'admin/base_admin.html.twig' %}

{% block title %}Sellers Statistics{% endblock %}

{% block container %}
    <div>

        <table class="table align-middle mb-0 bg-white shadow-lg " data-search="true"
               data-toggle="table" data-pagination="true" data-page-size="10"
               data-show-pagination-switch="true" data-show-columns="true">
            <thead class="bg-secondary text-white">
            <tr>

                <th>Name</th>
                <th>Nb Products</th>
                <th>Nb clicks</th>

            </tr>
            </thead>
            <tbody data-reload-content-target="myOneCustomContent">
            {% for seller in array %}
                {% if seller | length > 0 %}
                <tr>

                    <div class="d-flex align-items-center">


                        <td>{{ seller[0] }}</td>
                        <td>{{ seller[1] | length }}</td>
                        <td>{{ seller[2] | length }}</td>

{#                        <td>{{ seller.api ? seller.api}}</td>#}
                    </div>
                </tr>

                </td>
                </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}