{% extends 'admin/base_admin.html.twig' %}

{% block title %}List of sellers{% endblock %}

{% block pagetitle %}List of sellers{% endblock %}

{% block container %}

    <table class="table align-middle mb-0 bg-white shadow-lg " data-search="true"
           data-toggle="table" data-pagination="true" data-page-size="10"
           data-show-pagination-switch="true" data-show-columns="true">
        <thead class="bg-secondary text-white">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>email</th>
                <th>Website</th>
                <th>Address</th>
                <th>actions</th>
                <th>API</th>
            </tr>
        </thead>
        <tbody data-reload-content-target="myOneCustomContent">
        {{ include('seller/_list.html.twig') }}
        </tbody>
    </table>

{#    <a href="{{ path('app_seller_new') }}">Create new</a>#}
{% endblock %}
