
<hr/>
<br>

<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

                <label>Technology Travel Tourisme </label>

                {% if app.session.has('auth_agencies') %}
                    <select class="mySelect" name="agences" id="agence_id">
                        {% for agence in app.session.get('auth_agencies') %}
                            <option value="{{ agence.id }}">{{ agence.name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                 Journée commercial 28/07/2022

            </div>
            <div class="col-md-4">
                <div class="text-center">
                    2022 © Technology Travel Tourism
                    <a href="#" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>