<!DOCTYPE html>
<html lang="zxx">


<head>

</head>

<body>
{#<!-- preloader Area -->#}
{#<div class="preloader">#}
{#    <div class="d-table">#}
{#        <div class="d-table-cell">#}
{#            <div class="lds-spinner">#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!-- Header Area -->
<header class="main_header_arae">
    <!-- Top Bar -->
    <div class="topbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="topbar-list">
                        <li>
                            <a href="#!"><i class="fab fa-facebook"></i></a>
                            <a href="#!"><i class="fab fa-twitter-square"></i></a>
                            <a href="#!"><i class="fab fa-instagram"></i></a>
                            <a href="#!"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li><a href="#!"><span>+011 234 567 89</span></a></li>
                        <li><a href="#!"><span>contact@domain.com</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="topbar-others-options">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Sign up</a></li>
                        <li>
                            <div class="dropdown language-option">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="lang-name"></span>
                                </button>
                                <div class="dropdown-menu language-dropdown-menu">
                                    <a class="dropdown-item" href="#">English</a>
                                    <a class="dropdown-item" href="#">Arabic</a>
                                    <a class="dropdown-item" href="#">French</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown language-option">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="lang-name"></span>
                                </button>
                                <div class="dropdown-menu language-dropdown-menu">
                                    <a class="dropdown-item" href="#">USD</a>
                                    <a class="dropdown-item" href="#">BD</a>
                                    <a class="dropdown-item" href="#">URO</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar Bar -->
    <div class="navbar-area">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/img/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" alt="logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
{#                            if the session has a menu#}
                                {{ macros.menu_links(app.session.get('menu'), 0) }}
{#                            else we build the menu tree#}




{#                            <li class="nav-item">#}
{#                                <a href="#" class="nav-link active">#}
{#                                    Home#}
{#                                    <i class="fas fa-angle-down"></i>#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li class="nav-item">#}
{#                                        <a href="index.html" class="nav-link">Home One</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="index-2.html" class="nav-link active">Home Two</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="index-3.html" class="nav-link">Home Three</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a href="#" class="nav-link">#}
{#                                    Tours#}
{#                                    <i class="fas fa-angle-down"></i>#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li class="nav-item">#}
{#                                        <a href="tour-search.html" class="nav-link">Tour</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="tour-details.html" class="nav-link">Tour Details</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="tour-booking-submission.html" class="nav-link">Tour Booking</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="top-destinations.html" class="nav-link">Top Destination</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="top-destinations-details.html" class="nav-link">Destination#}
{#                                            Details</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a href="#" class="nav-link">#}
{#                                    Flights#}
{#                                    <i class="fas fa-angle-down"></i>#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li class="nav-item">#}
{#                                        <a href="flight-search-result.html" class="nav-link">Flight</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="flight-booking-submission.html" class="nav-link">Flight Booking</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a href="#" class="nav-link">#}
{#                                    Hotel#}
{#                                    <i class="fas fa-angle-down"></i>#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li class="nav-item">#}
{#                                        <a href="hotel-search.html" class="nav-link">Hotel</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="hotel-details.html" class="nav-link">Hotel Booking</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="room-details.html" class="nav-link">Room Details</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="room-booking.html" class="nav-link">Room Booking</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a href="#" class="nav-link">#}
{#                                    Visa#}
{#                                    <i class="fas fa-angle-down"></i>#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li class="nav-item">#}
{#                                        <a href="visa-details.html" class="nav-link">Visa Details</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="visa-application.html" class="nav-link">Visa Application</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="visa-info.html" class="nav-link">Business visa </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="visa-info.html" class="nav-link">Education visa </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="visa-info.html" class="nav-link">Working visa </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="visa-info.html" class="nav-link">Tourist visa </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="visa-info.html" class="nav-link">Medical visa </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="visa-info.html" class="nav-link">On-arrival visa </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a href="#" class="nav-link">#}
{#                                    Pages#}
{#                                    <i class="fas fa-angle-down"></i>#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li class="nav-item">#}
{#                                        <a href="about.html" class="nav-link">About</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="tour-guides.html" class="nav-link">Team</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="testimonials.html" class="nav-link">Testimonials</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="faqs.html" class="nav-link">FAQ</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="booking-confirmation.html" class="nav-link">Booking#}
{#                                            Confirmation</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="#" class="nav-link">News</a>#}
{#                                        <ul class="dropdown-menu">#}
{#                                            <li class="nav-item">#}
{#                                                <a href="news.html" class="nav-link">News</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="news-v2.html" class="nav-link">News v2</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="news-v3.html" class="nav-link">News v3</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="news-details.html" class="nav-link">News Details</a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="#" class="nav-link">User Pages</a>#}
{#                                        <ul class="dropdown-menu">#}
{#                                            <li class="nav-item">#}
{#                                                <a href="login.html" class="nav-link">Login</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="register.html" class="nav-link">Register</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="forgot-password.html" class="nav-link">Forget Password</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="verify-otp.html" class="nav-link">Verify OTP</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="reset-password.html" class="nav-link">Reset Password</a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="#" class="nav-link">Customer Dashboard</a>#}
{#                                        <ul class="dropdown-menu">#}
{#                                            <li class="nav-item">#}
{#                                                <a href="dashboard.html" class="nav-link">Dashboard</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="hotel-booking.html" class="nav-link">Hotel booking</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="flight-booking.html" class="nav-link">Flight booking</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="tour-booking.html" class="nav-link">Tour booking</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="booking-history.html" class="nav-link">Booking history</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="my-profile.html" class="nav-link">My profile</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="wallet.html" class="nav-link">Wallet</a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a href="notification.html" class="nav-link">Notifications</a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="error.html" class="nav-link">404 Error</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a href="contact.html" class="nav-link">Contact</a>#}
{#                            </li>#}
                        </ul>
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="#" class="search-box">
                                    <i class="bi bi-search"></i></a>
                            </div>
                            <div class="option-item">
                                <a href="become-vendor.html" class="btn  btn_navber">Become a partner</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="option-inner">
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="#" class="search-box"><i class="fas fa-search"></i></a>
                            </div>
                            <div class="option-item">
                                <a href="contact.html" class="btn  btn_navber">Get free quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- search -->
<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-close">
                <span class="search-overlay-close-line"></span>
                <span class="search-overlay-close-line"></span>
            </div>
            <div class="search-overlay-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="button"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Top Service And Tour Area-->
<section id="top_service_andtour" class="section_padding_top">
    <div class="container">
        <!-- Section Heading -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section_heading_center">
                    <h2>And tour top services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="top_service_boxed">
                    <img src="assets/img/icon/service-1.png" alt="icon">
                    <h3>Hotel Booking</h3>
                    <p>Mollit magna ex sint anim. Et velit ea in incididunt amet incididunt deserunt mollit magna
                        duis laboris eiusmod. Minim exercitation minim Lorem Id deserunt sint duis cillumaliquip.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="top_service_boxed">
                    <img src="assets/img/icon/service-2.png" alt="icon">
                    <h3>Flight Booking</h3>
                    <p>
                        Id aliquip qui dolore enim ea deserunt quis. Consectetur nostrud labore cupidatat proident
                        voluptate voluptate laboris ad ex eiusmod proident adipisicing enim.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="top_service_boxed">
                    <img src="assets/img/icon/service-3.png" alt="icon">
                    <h3>Ticket Booking</h3>
                    <p>
                        Exercitation ullamco reprehenderit amet nulla mollit do sunt. Id consequat nostrud amet
                        cillum do consectetur esse occaecat tempor reprehenderit ullamco sit aliqua liqua irure.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="top_service_boxed">
                    <img src="assets/img/icon/service-4.png" alt="icon">
                    <h3>Cruises Booking</h3>
                    <p>
                        Voluptate esse culpa cupidatat irure occaecat. Laborum consectetur qui laborum nostrud et.
                        Nostrud do aliqua cillum id adipisicing anim. Id labore enim esse est
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="top_service_boxed">
                    <img src="assets/img/icon/service-5.png" alt="icon">
                    <h3>Rail Booking</h3>
                    <p>
                        Quis aliqua irure velit ipsum et et ipsum irure qui ut mollit sunt eiusmod do. Sunt elit
                        excepteur culpa irure elit ea culpa adipisicing. Sit officia consequat
                        excepteur
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="top_service_boxed">
                    <img src="assets/img/icon/service-6.png" alt="icon">
                    <h3>Amazing Tour</h3>
                    <p>
                        Labore anim culpa sint minim eu tempor cillum esse eiusmod. Sint
                        exercitation nulla qui non nostrud. Reprehenderit commodo duis ullamco anim. Incididunt
                        deserunt
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Holiday Destinations  Area-->
<section id="holiday_destinations" class="section_padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="holiday_left_heading">
                            <div class="heading_left_area">
                                <h2>Explore most popular holiday <span>destinations</span></h2>
                                <h5>Discover your ideal experience with us</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="holiday_small_boxed">
                            <a href="top-destinations-details.html">
                                <img src="assets/img/holiday-img/holiday-1.png" alt="img">
                                <div class="holiday_small_box_content">
                                    <div class="holiday_inner_content">
                                        <div class="rating_outof">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <h5>5 Out of 5</h5>
                                        </div>
                                        <h3>China | $6000</h3>
                                        <h4>8 days 7 nights</h4>
                                        <p>Cupidatat consectetur ea cillum nt
                                            consectetur excepteur.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="holiday_small_boxed">
                            <a href="top-destinations-details.html">
                                <img src="assets/img/holiday-img/holiday-2.png" alt="img">
                                <div class="holiday_small_box_content">
                                    <div class="holiday_inner_content">
                                        <div class="rating_outof">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <h5>5 Out of 5</h5>
                                        </div>
                                        <h3>China | $6000</h3>
                                        <h4>8 days 7 nights</h4>
                                        <p>Cupidatat consectetur ea cillum nt
                                            consectetur excepteur.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="holiday_small_boxed">
                            <a href="top-destinations-details.html">
                                <img src="assets/img/holiday-img/holiday-3.png" alt="img">
                                <div class="holiday_small_box_content">
                                    <div class="holiday_inner_content">
                                        <div class="rating_outof">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <h5>5 Out of 5</h5>
                                        </div>
                                        <h3>China | $6000</h3>
                                        <h4>8 days 7 nights</h4>
                                        <p>Cupidatat consectetur ea cillum nt
                                            consectetur excepteur.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="holiday_small_boxed">
                            <a href="top-destinations-details.html">
                                <img src="assets/img/holiday-img/holiday-4.png" alt="img">
                                <div class="holiday_small_box_content">
                                    <div class="holiday_inner_content">
                                        <div class="rating_outof">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <h5>5 Out of 5</h5>
                                        </div>
                                        <h3>China | $6000</h3>
                                        <h4>8 days 7 nights</h4>
                                        <p>Cupidatat consectetur ea cillum nt
                                            consectetur excepteur.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="holiday_small_boxed">
                                    <a href="top-destinations-details.html">
                                        <img src="assets/img/holiday-img/holiday-5.png" alt="img">
                                        <div class="holiday_small_box_content">
                                            <div class="holiday_inner_content">
                                                <div class="rating_outof">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <h5>5 Out of 5</h5>
                                                </div>
                                                <h3>China | $6000</h3>
                                                <h4>8 days 7 nights</h4>
                                                <p>Cupidatat consectetur ea cillum nt
                                                    consectetur excepteur.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="holiday_small_boxed">
                                    <a href="top-destinations-details.html">
                                        <img src="assets/img/holiday-img/holiday-6.png" alt="img">
                                        <div class="holiday_small_box_content">
                                            <div class="holiday_inner_content">
                                                <div class="rating_outof">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <h5>5 Out of 5</h5>
                                                </div>
                                                <h3>China | $6000</h3>
                                                <h4>8 days 7 nights</h4>
                                                <p>Cupidatat consectetur ea cillum nt
                                                    consectetur excepteur.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Area -->
<section id="about_two_area" class="section_padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="about_two_left">
                    <div class="about_two_left_top">
                        <h5>About us</h5>
                        <h2>Discover your all the destinations with us!</h2>
                        <p>
                            Sint est eu sit ipsum enim amet esse sunt incididunt. Occaecat aliquip commodo ipsum
                            officia
                            in Lorem commodo aliquip dolore. Nisi domip excepteur commodo ea nostrud mollit.
                        </p>
                    </div>
                    <div class="about_two_left_middel">
                        <div class="about_two_item">
                            <div class="about_two_item_icon">
                                <img src="assets/img/icon/about-1.png" alt="icon">
                            </div>
                            <div class="about_two_item_text">
                                <h3>Experienced tour guide</h3>
                                <p>Dolore ullamco voluptate duis est voluptate exercitation officia ad qui nostrud
                                    adipisicing non.</p>
                            </div>
                        </div>
                        <div class="about_two_item">
                            <div class="about_two_item_icon">
                                <img src="assets/img/icon/about-2.png" alt="icon">
                            </div>
                            <div class="about_two_item_text">
                                <h3>Affordable tour packages</h3>
                                <p>Dolore ullamco voluptate duis est voluptate exercitation officia ad qui nostrud
                                    adipisicing non.</p>
                            </div>
                        </div>
                        <div class="about_two_item">
                            <div class="about_two_item_icon">
                                <img src="assets/img/icon/about-3.png" alt="icon">
                            </div>
                            <div class="about_two_item_text">
                                <h3>Explore top places over the world</h3>
                                <p>Dolore ullamco voluptate duis est voluptate exercitation officia ad qui nostrud
                                    adipisicing non.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="about_two_left_img">
                    <img src="assets/img/common/about_two.png" alt="img">
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Partner Area -->
<section id="partner_area" class="section_padding_top">
    <div class="container">
        <div class="partner_area_bg">
            <div class="row">
                <div class="col-lg-6">
                    <div class="partner_area_left">
                        <h5>Find your best travel partner</h5>
                        <h2>Prepare yourself and let’s enjoy
                            the beauty of the world</h2>
                        <p>Sint est eu sit ipsum enim amet esse sunt incididunt. Occaecat aliquip commodo ipsum
                            officia in Lorem commodo aliquip dolore. Nisi domip excepteur commodo ea nostrud mollit.
                        </p>
                        <div class="partner_video_area">
                            <a class="video_btn video_play_area" href="https://www.youtube.com/watch?v=_2LLXnUdUIc"
                               title="Youtube Video"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="local_counter_area">
                            <div class="local_counter_box">
                                <h2>12K</h2>
                                <h5>Local guides</h5>
                            </div>
                            <div class="local_counter_box">
                                <h2>750+</h2>
                                <h5>Destinations</h5>
                            </div>
                            <div class="local_counter_box">
                                <h2>100%</h2>
                                <h5>Happiness</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Choose your destinations Area-->
<section id="choose_destinations_area" class="section_padding_top">
    <div class="container">
        <!-- Section Heading -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section_heading_center">
                    <h2>Choose your destinations</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="choose_desti_wrapper">
                    <div class="choose_des_inner_wrap">
                        <div class="choose_boxed_inner">
                            <img src="assets/img/destination/home-two-des-1.png" alt="img">
                            <div class="choose_img_text">
                                <h2>London | $13,500</h2>
                                <h3>7 days 6 nights</h3>
                            </div>
                        </div>
                        <div class="flep_choose_box">
                            <div class="flep_choose_box_inner">
                                <div class="rating_outof">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h5>5 Out of 5</h5>
                                </div>
                                <h2>China | $6000</h2>
                                <h3>8 days 7 nights</h3>
                                <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                    excepteur amet pariatur et laboris sint laborum.</p>
                                <a href="top-destinations-details.html">Tour details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="choose_desti_wrapper">
                    <div class="choose_des_inner_wrap">
                        <div class="choose_boxed_inner">
                            <img src="assets/img/destination/home-two-des-2.png" alt="img">
                            <div class="choose_img_text">
                                <h2>Gangtok | $3,500</h2>
                                <h3>7 days 6 nights</h3>
                            </div>
                        </div>
                        <div class="flep_choose_box">
                            <div class="flep_choose_box_inner">
                                <div class="rating_outof">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h5>5 Out of 5</h5>
                                </div>
                                <h2>Gangtok | $3,500</h2>
                                <h3>7 days 6 nights</h3>
                                <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                    excepteur amet pariatur et laboris sint laborum.</p>
                                <a href="top-destinations-details.html">Tour details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="choose_desti_wrapper">
                    <div class="choose_des_inner_wrap">
                        <div class="choose_boxed_inner">
                            <img src="assets/img/destination/home-two-des-3.png" alt="img">
                            <div class="choose_img_text">
                                <h2>Phuket | $2,500</h2>
                                <h3>7 days 6 nights</h3>
                            </div>
                        </div>
                        <div class="flep_choose_box">
                            <div class="flep_choose_box_inner">
                                <div class="rating_outof">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h5>5 Out of 5</h5>
                                </div>
                                <h2>Phuket | $2,500</h2>
                                <h3>7 days 7 nights</h3>
                                <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                    excepteur amet pariatur et laboris sint laborum.</p>
                                <a href="top-destinations-details.html">Tour details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="choose_desti_wrapper">
                    <div class="choose_des_inner_wrap">
                        <div class="choose_boxed_inner">
                            <img src="assets/img/destination/home-two-des-4.png" alt="img">
                            <div class="choose_img_text">
                                <h2>Sydney | $6,000</h2>
                                <h3>4 days 3 nights</h3>
                            </div>
                        </div>
                        <div class="flep_choose_box">
                            <div class="flep_choose_box_inner">
                                <div class="rating_outof">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h5>5 Out of 5</h5>
                                </div>
                                <h2>Sydney | $6,000</h2>
                                <h3>4 days 3 nights</h3>
                                <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                    excepteur amet pariatur et laboris sint laborum.</p>
                                <a href="top-destinations-details.html">Tour details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="choose_desti_wrapper">
                    <div class="choose_des_inner_wrap">
                        <div class="choose_boxed_inner">
                            <img src="assets/img/destination/home-two-des-5.png" alt="img">
                            <div class="choose_img_text">
                                <h2>Gangtok | $3,500</h2>
                                <h3>9 days 8 nights</h3>
                            </div>
                        </div>
                        <div class="flep_choose_box">
                            <div class="flep_choose_box_inner">
                                <div class="rating_outof">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h5>5 Out of 5</h5>
                                </div>
                                <h2>Gangtok | $3,500</h2>
                                <h3>9 days 8 nights</h3>
                                <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                    excepteur amet pariatur et laboris sint laborum.</p>
                                <a href="top-destinations-details.html">Tour details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="choose_desti_wrapper">
                    <div class="choose_des_inner_wrap">
                        <div class="choose_boxed_inner">
                            <img src="assets/img/destination/home-two-des-6.png" alt="img">
                            <div class="choose_img_text">
                                <h2>Pattaya | $4,200</h2>
                                <h3>5 days 6 nights</h3>
                            </div>
                        </div>
                        <div class="flep_choose_box">
                            <div class="flep_choose_box_inner">
                                <div class="rating_outof">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h5>5 Out of 5</h5>
                                </div>
                                <h2>Pattaya | $4,200</h2>
                                <h3>5 days 6 nights</h3>
                                <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                    excepteur amet pariatur et laboris sint laborum.</p>
                                <a href="top-destinations-details.html">Tour details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Partner Area -->
<section id="hometwo_clinet_area" class="section_padding">
    <div class="container">
        <div class="client_two_area_bg">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="two_client_area_left">
                        <h2>We Provide Top Destinations
                            Expecially For You
                            Book Now and Enjoy!</h2>
                        <div class="sm_call_area">
                            <img src="assets/img/icon/sm-call.png" alt="icon">
                            <div class="sm_call_number">
                                <h5>Call now</h5>
                                <h2><a href="tel:+01-234-567-890">+01 234 567 890</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home_client_wrpper">
                        <h4>Our testimonials</h4>
                        <h2>What our client say about us</h2>
                        <div class="home-two-quote">
                            <img src="assets/img/icon/quote.png" alt="img">
                            <h3>Awesome service</h3>
                        </div>
                        <div class="home_two_client_slider  owl-theme owl-carousel">
                            <div class="client_two_content">
                                <p>
                                    Ad non quis quis commodo ut nostrud ipsum ad reprehenderit. Lorem eiusmod
                                    excepteur anim adipisicing officia officia.
                                </p>
                                <div class="client_two_author">
                                    <h5>Cameron douglas</h5>
                                    <h6>Businessman</h6>
                                </div>
                            </div>
                            <div class="client_two_content">
                                <p>
                                    Ad non quis quis commodo ut nostrud ipsum ad reprehenderit. Lorem eiusmod
                                    excepteur anim adipisicing officia officia.
                                </p>
                                <div class="client_two_author">
                                    <h5>Cameron douglas</h5>
                                    <h6>Businessman</h6>
                                </div>
                            </div>
                            <div class="client_two_content">
                                <p>
                                    Ad non quis quis commodo ut nostrud ipsum ad reprehenderit. Lorem eiusmod
                                    excepteur anim adipisicing officia officia.
                                </p>
                                <div class="client_two_author">
                                    <h5>Cameron douglas</h5>
                                    <h6>Businessman</h6>
                                </div>
                            </div>
                            <div class="client_two_content">
                                <p>
                                    Ad non quis quis commodo ut nostrud ipsum ad reprehenderit. Lorem eiusmod
                                    excepteur anim adipisicing officia officia.
                                </p>
                                <div class="client_two_author">
                                    <h5>Cameron douglas</h5>
                                    <h6>Businessman</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our partners Area -->
<section id="our_partners" class="section_padding">
    <div class="container">
        <!-- Section Heading -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section_heading_center">
                    <h2>Our partners</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="partner_slider_area owl-theme owl-carousel">
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/1.png" alt="logo"></a>
                    </div>
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/2.png" alt="logo"></a>
                    </div>
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/3.png" alt="logo"></a>
                    </div>
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/4.png" alt="logo"></a>
                    </div>
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/5.png" alt="logo"></a>
                    </div>
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/6.png" alt="logo"></a>
                    </div>
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/7.png" alt="logo"></a>
                    </div>
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/8.png" alt="logo"></a>
                    </div>
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/5.png" alt="logo"></a>
                    </div>
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/3.png" alt="logo"></a>
                    </div>
                    <div class="partner_logo">
                        <a href="#!"><img src="assets/img/partner/2.png" alt="logo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Cta Area -->
<section id="cta_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="cta_left">
                    <div class="cta_icon">
                        <img alt="icon" src={{ asset("assets/images/common/email.png") }} >
                    </div>
                    <div class="cta_content">
                        <h4>Get the latest news and offers</h4>
                        <h2>Subscribe to our newsletter</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="cat_form">
                    <form id="cta_form_wrappper">
                        <div class="input-group"><input type="text" class="form-control"
                                                        placeholder="Enter your mail address"><button class="btn btn_theme btn_md"
                                                                                                      type="button">Subscribe</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





</body>

</html>