<section id="choose_destinations_area" class="section_padding">
    <div class="container">
        <!-- Section Heading -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section_heading_center">
                    <h2>Our Products</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="choose_desti_wrapper">
                    <div class="choose_des_inner_wrap">
                        <div class="choose_boxed_inner">
                            <img alt="img" src={{ asset("assets/images/hotel/hotel.png") }} >
                            <div class="choose_img_text">
                                <h2>Hotels | rooms</h2>
                                <h3>up to 50 hotels</h3>
                            </div>
                        </div>
                        <div class="flep_choose_box">
                            <div class="flep_choose_box_inner">
                                <div class="rating_outof">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h5>5 Out of 5</h5>
                                </div>
                                <h2>China | $6000</h2>
                                <h3>8 days 7 nights</h3>
                                <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                    excepteur amet pariatur et laboris sint laborum.</p>
                                <a href="top-destinations-details.html">Tour details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="choose_desti_wrapper">
                    <div class="choose_des_inner_wrap">
                        <div class="choose_boxed_inner">
                            <img alt="img" src={{ asset("assets/images/omra.png") }} >
                            <div class="choose_img_text">
                                <h2>Omra | $3,500</h2>
                                <h3>7 days 6 nights</h3>
                            </div>
                        </div>
                        <div class="flep_choose_box">
                            <div class="flep_choose_box_inner">
                                <div class="rating_outof">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h5>5 Out of 5</h5>
                                </div>
                                <h2>Gangtok | $3,500</h2>
                                <h3>7 days 6 nights</h3>
                                <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                    excepteur amet pariatur et laboris sint laborum.</p>
                                <a href="top-destinations-details.html">Tour details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="choose_desti_wrapper">
                    <div class="choose_des_inner_wrap">
                        <div class="choose_boxed_inner">
                            <img alt="img" src={{ asset("assets/images/circuit.png") }} >
                            <div class="choose_img_text">
                                <h2>organized trip</h2>
{#                                <h3>7 days 6 nights</h3>#}
                            </div>
                        </div>
                        <div class="flep_choose_box">
                            <div class="flep_choose_box_inner">
                                <div class="rating_outof">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h5>5 Out of 5</h5>
                                </div>
                                <h2>organized trip</h2>
                                <h3></h3>
                                <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                    excepteur amet pariatur et laboris sint laborum.</p>
{#                                <a href="top-destinations-details.html">Tour details</a>#}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>