{% for product_type in product_types %}
    <tr>
        <td>{{ product_type.id }}</td>
        <td>{{ product_type.name }}</td>
        <td>
            <a href="{{ path('app_product_type_show', {'id': product_type.id}) }}">show</a>
            <a href="{{ path('app_product_type_edit', {'id': product_type.id}) }}">edit</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="3">no records found</td>
    </tr>
{% endfor %}