{% extends 'admin/base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block container %}
    <h1 class="text-start fs-2 bold my-2 mb-3">List of product types</h1>
    <br>
    <div class="text-start m-lg-4">
        <a class="btn btn-success" href="{{path('app_product_type_new')}}">Créer nouveau</a>
    </div>
    <div>

        <table class="table align-middle mb-0 bg-white shadow-lg " data-search= "true"
               data-toggle="table"  data-pagination="true" data-page-size="10"
               data-show-pagination-switch="true" data-show-columns="true" >
            <thead class="bg-secondary text-white">
            <tr>
                <th class="th-sm">ID</th>
                <th class="th-sm">Nom</th>
                <th class="th-sm">Actions</th>
            </tr>
            </thead>
            <tbody data-reload-content-target="myOneCustomContent">
            {{ include('product_type/_list.html.twig') }}
            </tbody>
        </table>
    </div>


{% endblock %}
