{% extends 'base.html.twig' %}

{% block title %}offer product types{% endblock %}


{% block body %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Price</th>
            <th scope="col">Max Items</th>
        </tr>
        </thead>
        <tbody>
        {% for offerProductType in product_type.offerProductTypes %}
        <tr>
            <th scope="row">{{ offerProductType.id }}</th>
            <td>{{ offerProductType.price }}</td>
            <td>{{ offerProductType.maxItems }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
