{% extends 'base.html.twig' %}

{% block title %}Edit Api{% endblock %}

{% block body %}
    <h1>Edit Api</h1>

    {{ include('api/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_api_index') }}">back to list</a>

    {{ include('api/_delete_form.html.twig') }}
{% endblock %}
