{% extends 'base.html.twig' %}

{% block title %}New City{% endblock %}

{% block body %}
    <h1>Create new City</h1>

    {{ include('admin/location/city/_form.html.twig') }}

    <a href="{{ path('app_admin_location_city_index') }}">back to list</a>
{% endblock %}
